
form{
   width: 100%;
   height: auto;
   text-align: center;
}

mat-form-field{
   width: 80%;
}

.cat{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 100%;
}
.cat .action{
   position: relative;
}
.cat .action .add{
   position: absolute;
   top: 50%;
   left: 70%;
   transform: translate(10%,-80%);
   background: rgb(85, 85, 241);
   align-items: center;
   width: 60px;
   height: 30px;
   justify-content: center;
   border-radius: 15px;
   cursor: pointer;
   transition: .3s;
}
.cat .action .add:hover{
   border: 1px solid rgb(85, 85, 241) ;
   background: white;
}
.cat .action .add:hover mat-icon{
   color: rgb(85, 85, 241);
}
.cat .action .add:active{
   transform: translate(10%,-70%);
   -webkit-box-shadow: 4px 22px 30px 0px rgba(0,0,0,0.6); 
   box-shadow: 4px 22px 30px 0px rgba(0,0,0,0.6);}
mat-icon{
   color: white;
   margin-top: 4px;
}

.wall{
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   position: fixed !important;
   display: flex;
   justify-content: center;
   align-items: center;
   visibility: hidden;
   transition: .3s;
}

.wall2{
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   position: fixed !important;
   display: flex;
   justify-content: center;
   align-items: center;
   visibility: visible;
   transition: .3s;
}

.background{
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   position: fixed !important;
   z-index: 1;
   background: rgba(0,0,0,0.5);
}


.box{
   display: row;
   justify-content: center;
   z-index: 2;
   width: 300px;
   height: 300px;
   background: white;
   border-radius: 15px;
   
}

.split{
   width: 100%;
   display: flex;
   flex-direction: row;
   padding: 0px 54px 0px 54px;

   
}
.split mat-form-field{
   padding: 0 4px 0 4px;
}

.card-header{
   height: 50px;
   width: 100%;
}

.card-action{
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.card-action button{
   margin: 15px;
   width: 100px;
}
.field{
   width: 100%;
}

@media (max-width:768px) {
   .card{
      width: 530px !important;
   }

   .split{
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 0px 50px 0px 40px !important;
   
         
   }
   .split mat-form-field{
      padding: 0 4px 0 4px;
   }
}